<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxbank.dao.WeibossMapper" >
  <resultMap id="BaseResultMap" type="com.fxbank.model.Weiboss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="attitude" property="attitude" jdbcType="INTEGER" />
    <result column="repost" property="repost" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="phone_type" property="phoneType" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fxbank.model.Weiboss" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, account_name, attitude, repost, comment, phone_type, date, type, 
    classify
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weiboss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from weiboss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxbank.model.Weiboss" >
    insert into weiboss (account_id, account_name, 
      attitude, repost, comment, 
      phone_type, date, type, 
      classify, content)
    values ( #{accountId,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{attitude,jdbcType=INTEGER}, #{repost,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER}, 
      #{phoneType,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{classify,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fxbank.model.Weiboss" >
    insert into weiboss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="attitude != null" >
        attitude,
      </if>
      <if test="repost != null" >
        repost,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="phoneType != null" >
        phone_type,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="attitude != null" >
        #{attitude,jdbcType=INTEGER},
      </if>
      <if test="repost != null" >
        #{repost,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="phoneType != null" >
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxbank.model.Weiboss" >
    update weiboss
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="attitude != null" >
        attitude = #{attitude,jdbcType=INTEGER},
      </if>
      <if test="repost != null" >
        repost = #{repost,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="phoneType != null" >
        phone_type = #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fxbank.model.Weiboss" >
    update weiboss
    set account_id = #{accountId,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      attitude = #{attitude,jdbcType=INTEGER},
      repost = #{repost,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      classify = #{classify,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxbank.model.Weiboss" >
    update weiboss
    set account_id = #{accountId,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      attitude = #{attitude,jdbcType=INTEGER},
      repost = #{repost,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      classify = #{classify,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>